.DS_Store
*.db
backend/static/static/
# Ignore Python cache
__pycache__/
*.py[cod]

# Test caches
.cache/jest/
.pytest_cache/

# Ignore Node modules
node_modules/
# Additional ignores
backend/venv/
**/node_modules/

# Log files
*.log

# Env files
.env
